body,
ul,
h1,
h2,
h3 {
    margin: 0;
}

body {
    font-family: ProximaNova, sans-serif;
    color: #48423b;
    position: relative;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

@font-face {
    font-family: 'ProximaNova';
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/proxima_nova_bold.otf") format("opentype");
    src: url("../fonts/proxima_nova_regular.otf") format("opentype");
}

.container {
    min-height: 625px;
    background: url("../img-certificate/bg-img.jpg") no-repeat 0 0;
    background-size: cover;
    padding: 75px 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1060px;
    margin: auto;
    width: 90%;
}

.container .wrapper {
    position: relative;
}

.list-wrapper {
    min-height: 460px;
    width: 615px;
    border: 1px dashed #49423c;
    border-radius: 5px;
    padding: 95px 45px 20px 45px;
    box-sizing: border-box;
}

.clean-link {
    color: #43b2aa;
    font-size: 16px;
    font-weight: bold;
    display: block;
}

.list-wrapper .clean-link {
    text-align: end;
    padding-right: 5px;
}

.main-item {
    font-size: 18px;
    color: #615b55;
    margin-bottom: 30px;
    padding-left: 30px;
    position: relative;
}

.main-item:after {
    position: absolute;
    content: '';
    background: url("../img-certificate/true.png") no-repeat 0 0;
    width: 13px;
    height: 12px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.main-slider {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 35%;
    width: 70%;
}

.bx-wrapper img {
    max-width: 100%;
    margin: auto;
}

.main-slider .bx-prev,
.main-slider .bx-next {
    top: 50%;
    transform: translateY(-50%);
}

.main-slider .bx-next {
    right: 0;
}

.main-slider .bx-prev:after,
.main-slider .bx-next:after {
    width: 23px;
    height: 41px;
    content: '';
    top: 0;
    position: absolute;
}

.main-slider .bx-prev:after {
    background: url("../img-certificate/prev.png") no-repeat 0 0;
    left: 0;
}

.main-slider .bx-next:after {
    background: url("../img-certificate/next.png") no-repeat 0 0;
    right: 0;
}

.steps .wrapper {
    max-width: 960px;
}

.steps__container {
    min-height: 335px;
    padding: 75px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.steps__container--first {
    background: #ffffff;
}

.steps__container--second {
    background: url("../img-certificate/bg.jpg") repeat 0 0;
}

.steps__description {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 13px;
}

.steps__text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 50px;
}

.steps__form,
.change-method {
    display: flex;
    justify-content: space-between;
}

.steps__block {
    margin-bottom: 45px;
}

.steps__block:last-child {
    margin-bottom: 0;
}

.steps__label {
    display: block;
    font-size: 18px;
    margin-bottom: 13px;
}

.steps__input,
.steps__message {
    font-size: 18px;
    width: 100%;
    border: none;
    border-radius: 3px;
    padding: 20px;
    box-sizing: border-box;
}

.steps__message {
    resize: vertical;
    height: 190px;
    font-family: ProximaNova, sans-serif;
    color: #2f2929;
}

.steps__input::placeholder,
.steps__message::placeholder {
    font-size: 18px;
    font-family: ProximaNova, sans-serif;
    color: #2f2929;
}

.delivery-method {
    width: 305px;
}

.methods__button {
    display: block;
    width: 270px;
    box-sizing: border-box;
    border: 2px solid #00a89e;
    border-radius: 3px;
    background: #ffffff;
    margin-bottom: 30px;
    padding: 15px 30px;
    text-align: center;
    color: #00a89e;
    font-size: 20px;
}

.methods__button--email {
    background-image: url("../img-certificate/email.png");
    background-repeat: no-repeat;
    background-position: 68px 16px;
}

.methods__button--message {
    background-image: url("../img-certificate/sms.png");
    background-repeat: no-repeat;
    background-position: 68px 19px;
}

.methods__button--print {
    background-image: url("../img-certificate/print.png");
    background-repeat: no-repeat;
    background-position: 41px 16px;
}

.email-of-user {
    border-color: #cccccc;
    border-width: 1px;
    margin-top: 55px;
    color: #707070;
    margin-bottom: 10px;
    text-align: left;
}

.methods__text {
    font-size: 16px;
    color: #48423b;
    margin: 0 0 55px 0;
}

.send-present-now,
.send-present-now .clean-link {
    font-size: 24px;
    font-weight: normal;
}

.send-present-now {
    padding-left: 60px;
    position: relative;
}

.send-present-now:after {
    position: absolute;
    content: '';
    background: url("../img-certificate/clock.png") no-repeat 0 0;
    width: 41px;
    height: 43px;
    top: 6px;
    left: 0;
}

.agreement {
    min-height: 185px;
    padding-top: 20px;
    padding-bottom: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #ffffff;
    position: absolute;
    bottom: 70px;
    width: 100%;
    left: 0;
}

.send-present {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    background: #00a89e;
    display: block;
    padding: 15px 20px;
    text-align: center;
    width: 570px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    text-decoration: none;
    margin: auto;
    margin-bottom: 30px;
}

.send-present:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

.present-view {
    margin-bottom: 85px;
    display: block;
    text-align: end;
    font-size: 14px;
    color: #8e8e8e;
    padding-right: 90px;
}

.steps__container--first .wrapper {
    position: relative;
}

.agreement-user {
    margin: 0;
    font-size: 18px;
    color: #48423b;
    text-align: center;
    margin-bottom: 45px;
}

.agreement-user .clean-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
}

.wrapper-steps {
    position: relative;
}

.wrapper-steps:after {
    position: absolute;
    content: '';
    background: url("../img-certificate/presents.png") no-repeat 0 0;
    width: 395px;
    height: 110px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.methods__button:focus,
.type-of-certificate__button:focus,
.close-popup:focus {
    outline: none;
}

.methods__button:hover {
    cursor: pointer;
}

.type-of-certificate {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.type-of-certificate__button {
    border: 1px solid #cccccc;
    width: 195px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #ffffff;
    padding: 15px 0 15px 25px;
    font-size: 18px;
    font-weight: bold;
    color: #48423b;
    text-align: left;
    position: relative;
    font-family: ProximaNova, sans-serif;
}

.submit {
    width: 100%;
    font-size: 18px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #48423b;
    padding: 15px;
    border-radius: 30px;
    border: 2px solid #00a89e;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.submit:hover {
    color: #ffffff;
    background: #00a89e;
    transition: 0.3s;
}

.steps__input:hover,
.steps__message:hover {
    outline: 2px solid #cccccc;
    cursor: pointer;
}

.steps__input:focus,
.steps__message:focus {
    outline: 2px solid #cccccc;
    cursor: auto;
}

.change,
.true {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
}

.change {
    border-left: 1px solid #cccccc;
    font-size: 43px;
    color: #00a89e;
    font-weight: normal;
    font-family: ProximaNova, sans-serif;
    text-align: center;
}

.true {
    display: none;
}

.type-of-certificate__button:hover {
    cursor: pointer;
}

.popup {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    z-index: 1;
    display: none;
}

.popup__section {
    max-width: 955px;
    height: 625px;
    background: #ffffff;
    padding: 75px 45px 45px 45px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.popup__slider-text {
    font-size: 18px;
    width: 60%;
    margin: auto;
    margin-top: 80px;
}

.close-popup {
    display: block;
    text-indent: -9999px;
    width: 30px;
    height: 30px;
    background: url("../img-certificate/close.png") no-repeat 0 0;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 30px;
    right: 30px;
}

.close-popup:hover {
    cursor: pointer;
}

.popup__section .bx-wrapper .bx-next,
.popup__section .bx-wrapper .bx-prev {
    text-indent: 0;
    font-size: 14px;
    text-decoration: none;
    color: #48423b;
}

.popup__section .bx-wrapper .bx-next:after,
.popup__section .bx-wrapper .bx-prev:after {
    content: '';
    position: absolute;
}

.popup__section .bx-wrapper .bx-next {
    position: absolute;
    bottom: -68px;
    right: 16px;
}

.popup__section .bx-wrapper .bx-prev {
    position: absolute;
    bottom: -68px;
    left: 16px;
}

.popup__section .bx-wrapper .bx-next:after {
    background: url("../img-certificate/slider-next.png") no-repeat 0 0;
    width: 12px;
    height: 21px;
    top: -2px;
    right: -31px;
}

.popup__section .bx-wrapper .bx-prev:after {
    background: url("../img-certificate/slider-prev.png") no-repeat 0 0;
    width: 12px;
    height: 21px;
    top: -2px;
    left: -31px;
}

.popup__section .bx-pager {
    display: block;
    bottom: -65px;
}

.bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus, .bx-wrapper .bx-pager.bx-default-pager a:hover {
    background: #43b2aa;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    width: 10px;
    height: 10px;
    border: 1px solid #0caca3;
    background: #ffffff;
    box-sizing: border-box;
}

.steps__content--data {
    width: 40%;
}

.steps__content--message {
    width: 55%;
}

.certificate {
    width: 68%;
}

.certificate img {
    width: 100%;
}

.methods__text .clean-link {
    display: none;
}

@media screen and (max-width: 1024px) {
    .main-slider {
        width: 60%;
    }

    .main-slider .bx-next:after {
        right: -33px;
    }

    .main-slider .bx-prev:after {
        left: -33px;
    }

    .container .wrapper {
        padding-left: 15px;
    }

}

@media screen and (max-width: 1000px) {
    .main-slider {
        width: 640px;
        left: 32%;
    }

    .main-slider .bx-next:after {
        right: -31px;
    }

    .main-slider .bx-prev:after {
        left: -31px;
    }
}

@media screen and (max-width: 800px) {
    .steps .wrapper {
        padding: 0 35px;
    }

    .agreement {
        bottom: 57px;
    }

    .agreement-user {
        margin-top: 227px;
    }

    .main-slider {
        width: 430px;
        left: 40%;
    }

    .list-wrapper {
        width: 80%;
    }

    .container {
        padding: 75px 30px;
    }

    .main-slider .bx-next:after {
        right: -26px;
    }

    .main-slider .bx-prev:after {
        left: -26px;
    }

    .list-wrapper {
        padding: 95px 45px 20px 25px;
    }

}

@media screen and (max-width: 768px){
    .main-list,
    .type-of-certificate {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }


    .type-of-certificate__button {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 700px){
    .certificate,
    .present-view {
        display: none;
    }

    .delivery-method,
    .methods__button {
        width: 100%;
    }

}

@media screen and (max-width: 500px) {

    .popup__slider-text {
        font-size: 15px;
        width: 100%;
    }

    .popup__section {
        max-width: 955px;
        height: 580px;
        background: #ffffff;
        padding: 43px 25px 25px 25px;
    }

    .container .wrapper {
        padding: 0 25px;
    }

    .list-wrapper {
        width: 100%;
        border: none;
        border-radius: 0;
        padding: 0;
    }

    .main-item {
        margin-bottom: 22px;
        padding-left: 21px;
        width: 43%;
    }

    .list-wrapper .clean-link {
        text-align: center;
        padding-right: 0;
        color: #ffffff;
    }

    .container {
        min-height: 370px;
        background: url(../img-certificate/bg-2.png) no-repeat -233px 0;
        background-size: cover;
        padding: 25px 0;
        box-sizing: border-box;
    }

    .steps__text {
        font-size: 21px;
    }

    .steps .wrapper {
        padding: 0 25px;
    }

    .steps__form,
    .methods__text .clean-link {
        display: block;
    }

    .steps__content--data,
    .steps__content--message {
        width: 100%;
    }

    .steps__content--data {
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
    }

    .steps__block {
        margin-bottom: 0;
    }

    .certificate {
        display: none;
    }

    .send-present-now,
    .send-present-now .clean-link {
        font-size: 18px;
    }

    .methods__button {
        width: 145px;
        font-size: 15px;
        padding: 15px;
        margin-bottom: 0;
    }

    .methods__block {
        display: flex;
        justify-content: space-between;
    }

    .email-of-user {
        width: 200px;
        margin-top: 25px;
        margin-bottom: 23px;
    }

    .methods__button--message {
        background-position: 14px 17px;
    }

    .methods__button--print {
        background-position: 7px 13px;
        padding-left: 38px;
    }

    .methods__button--email {
        background-position: 13px 15px;
    }

    .methods__text {
        width: 60%;
    }

    .send-present-now {
        position: absolute;
        right: 28px;
        top: 186px;
    }

    .wrapper-steps:after {
        display: none;
    }

    .agreement-user {
        margin-top: 152px;
    }

    .agreement {
        min-height: 95px;
        position: static;
        width: 100%;
    }

    .send-present {
        font-size: 20px;
        width: 100%;
    }

    .agreement-user {
        margin-top: 0;
    }

    .main-slider {
        position: static;
        width: 100%;
    }

    .list-wrapper {
        min-height: 130px;
        margin-bottom: 95px;
    }

    .list-wrapper .clean-link {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .main-slider .bx-prev:after, .main-slider .bx-next:after {
        width: 11px;
        height: 20px;
        content: '';
    }

    .main-slider .bx-next:after {
        background: url(../img-certificate/next-small.png) no-repeat 0 0;
        right: -18px;
    }

    .main-slider .bx-prev:after {
        background: url(../img-certificate/prev-small.png) no-repeat 0 0;
        left: -18px;
    }
}

@media screen and (max-width: 470px){
    .methods__button {
        width: 100%;
        margin-bottom: 20px;
    }

    .main-list,
    .type-of-certificate,
    .methods__block {
        display: block;
    }

    .send-present-now {
        position: relative;
        right: auto;
        top: auto;
    }

    .steps__content--data {
        display: block;
    }

}

@media screen and  (max-width: 320px) {
    .main-item,
    .methods__text {
        width: 100%;
    }

    .type-of-certificate__button {
        margin: auto;
        margin-bottom: 25px;
        display: block;
        width: 245px;
    }

    .submit {
        text-align: center;
        padding: 0;
        border-radius: 0;
        border: none;
        font-size: 11px;
    }

    .steps__block {
        margin-bottom: 20px;
    }

    .send-present {
        font-size: 18px;
    }

    .agreement-user,
    .agreement-user .clean-link {
        font-size: 14px;
    }

    .main-item {
        margin-bottom: 15px;
    }

    .bx-controls-direction {
        display: none;
    }

    .popup__section .bx-pager {
        bottom: -16px;
    }

    .popup__slider-text {
        margin-top: 60px;
    }

}

